<div class="jumbotron">
    <h2>Add new item</h2>
    <form action="" method="post">
        <label for="name">Item name</label>
        <input type="text" class="form-control" id="name" name="name">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" name="id">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" name="desc">
        <label for="image">Image link</label>
        <input type="text" class="form-control" id="image" name="image">
        <label for="cost">Cost</label>
        <input type="number" name="cost" id="cost">
        <br>
        <input type="submit" value="Add new item" class="btn btn-success">
        <a href="/"><div class="btn btn-danger">Home</div></a>
    </form>
</div>