<br>
<div class="jumbotron">
    <h1>Login</h1>
    <form action="" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
        <br>
        <input type="submit" value="Login" class="btn btn-success">
        <a href="/"><div class="btn btn-danger">Home</div></a>
    </form>
</div>